:root {
  /* color primary  */
  --color-primary: #008030;

  /* color neutral */
  --neutral-pick: #ff4c4c;
  --neutral-yellow: #f48924;
  --neutral-100: #ffffff;
  --neutral-600: #eeeef0;
  --footer-700: #151421;
  --title-800: #3f3a64;
  /* hover effect */
  --color-primary-hover: #00732c;
}
