/* menu delay */
:root {
  --animate-delay: 1s;
  --animate-duration: 1s;
}
@keyframes dropBackDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    -ms-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    -ms-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }

  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    -ms-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
  }

  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    -ms-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}
.animate__delay-1s {
  animation-delay: var(--animate-delay);
}
.animate__delay-2s {
  animation-delay: calc(var(--animate-delay) * 2);
}
.animate__delay-3s {
  animation-delay: calc(var(--animate-delay) * 3);
}
.animate__delay-4s {
  animation-delay: calc(var(--animate-delay) * 4);
}
 /* menu run now  */
.animate__animated {
  animation-fill-mode: both;
  animation-duration: calc(var(--animate-duration) * 1);
}

/* Khai báo hiệu ứng */
.animate__dropBackDown {
  animation-name: dropBackDown;
}
.animate__fadeInUp {
  animation-name: fadeInUp;
}
.animate__flipInX {
  animation-name: flipInX;
}
