/* Layout và làm đẹp của trang home */
/* .cta .cta-prev {
    right: 95px;
}
.cta .cta-next {
    right: 25px;
}
 .cta {
    position: relative;

 }
.cta .cta-arrow {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 50px;
    border-radius: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
    border: 1px solid transparent;
    background: white;
    z-index: 12;
    outline: none;
} */

.my-contact-project {
    background-image: url(../../../../public/img/home/contact-bg.png);
    background-color: #151421;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.contact-footer-head {
    max-width: 700px;
    margin: auto;
}
.my-contact-project .title{
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: var(--neutral-100);
}
.my-contact-project .subtitle {
    font-size: 17px;
    line-height: 27px;
    opacity: .8;
    color: var(--neutral-600);
}

.content-contact .fa-solid {
    color: #999;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 20px 35px;
    border-radius: 4px 0 0 4px;
    background-color: rgba(0, 0, 0, 0.25);
    /* viền */
    border: 0.15px solid #ffffff26;
    }
.content-contact  .myInput {
    padding: 14px 20px;
    font-size: 16px;
    line-height: 28px;
    outline: none;
    width: 100%;
    background: white;
    border-radius: 0;
    color: #999;
    background-color: rgba(0, 0, 0, 0.2);
    border: 0.15px solid #ffffff26;

}

.content-contact .btn {
    font-size: 16px;
    font-weight: 600;
    color: var(--neutral-100);
    padding: 16px 20px;
    border-radius: 0 4px 4px 0;
    background: var(--color-primary);
    /* Viền */
    border: 1px solid #009f4d;
}
/* CTA backtotop */
.backtotop {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: white;
  box-shadow: #008030 -4px 4px 24px -10px;
  visibility: hidden;
  opacity: 0;
  background: #008030;
  border-radius: 50%;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0s linear 0s;
}
.cd-top--fade-out {
  opacity: 1;
}
