
.carousel-inner .hero-overlay {
  position: absolute;
  background: rgba(29, 42, 55, 0.7);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.carousel-inner {
  max-height: 800px;
  overflow: hidden;
}
.banner {
  position: relative;
  overflow: hidden;
}

.shape {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  line-height: 0;
  pointer-events: none;
}

.shape svg {
  display: block;
  width: 100%;
  height: auto;
  min-height: 80px;
}
.shape path {
  fill: var(--neutral-100);
}

.carousel-item {
  transition: opacity 0.5s ease !important;
}
.carousel-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(29, 42, 55, 0.7);
  z-index: 1;
}
.carousel-item img {
    inset: 0;
    transition: opacity 0.5s ease;
    
    /* min-height: 700px; */
}
.carousel-item {
  position: relative;
}
.banner-wrap {
  width: 100%;
  overflow: hidden;
}

.banner-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* xử lý ảnh */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  z-index: -1;
}
.banner .container {
  position: absolute;
  margin: auto;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding-top: 180px;
}
/* .carousel-nav-container {
  position: absolute;
  right: 0;
  z-index: 10; 
  padding-top: 0;  
  width: 50%;

} */
.container .banner-content {
  width: 60%;
  display: inline-block;
  color: var(--neutral-100);
}
.banner-content h1 {
  width: 100%;
  margin-bottom: 24px;
}
.banner-content p {
  width: 90%;
  padding-bottom: 30px;
}

/* button điều hướng */
.carousel-nav-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: end;
  gap: 20px;
  width: 100%;
  z-index: 5;
  /* pointer-events: auto; */
  height: 60%;
  width: 40%;
  position: absolute;
  /* top: 0; */
   right: 0; 
   padding-right: 20px;
   margin: auto;
  
}
 .carousel-arrow {
  /* position: absolute; */
  /* z-index: 6; */
  height: 30px;
  width: 30px;
  font-size: 14px;
  color: var(--neutral-800);
  background-color: white;
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
  opacity: 1;
  /* pointer-events: auto;  */
}

@media (min-width: 300px) and (max-width: 992px) {
.banner .container {
  padding-top: 100px;
}
.container  .banner-content {
    width: 90%; /* thay vì 60%, mobile cần rộng hơn để chữ không bị bó */
  }
  .banner-content h1 {
    font-size: var(--mobile-h1); /* hoặc biến --mobile-h2 nếu bạn có định nghĩa riêng */
  }
  .banner-content p {
    font-size: var(--mobile-p);
    width: 100%;
  }
  .banner-content button {
    padding: 15px 30px;
    font-size: var(--text-base);
  }
  .carousel-item img {
    min-height: 500px;
    object-fit: cover;
  }
  .carousel-icon-pre {
    position: absolute;
    z-index: 6;
    bottom: 50px;
    right: 95px;
  }
  .carousel-icon-next {
    bottom: 50px;
    right: 25px;
  }
  .carousel-nav-wrap{
    padding-top:20px;
    padding-right: 40px;
  }
  .shape {
    transform: scaleY(2);
  }
}

