/* layout và làm đẹp của footer */
/* footer */
.myfooter {
    background-color: #151421;
}
.cotent-footer-head {
    max-width: 1200px;
    margin: auto;
}


/* logo footer */

.content-footer-body {
    border-top: 1px solid rgba(231, 231, 231, 0.18);
}
.brand-head-footer .brand-title-footer {
    font-size: 30px;
    font-weight: 600;
    color: white;
}
 .brand-subtitle-footer {
    font-size: 14px;
    font-weight: 600;
    color: var(--neutral-600);
    padding-left: 55px;
    margin-top: -8px;
}
.brand-head-footer i.fa {
    font-size: 30px;
    font-weight: 600;
    color: var(--color-primary);
}
.content-footer-body .brand-content-footer {
    font-size: 18px;
    line-height: 28px;
    color: var(--neutral-600);
}
.social-meida {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 0;
}
.social-meida .item-icon {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.social-meida .item-icon i {
    font-size: 16px;
    color: var(--neutral-600);
}
.content-footer-head .title{
    font-size: 22px;
    line-height: 28px;
        margin-bottom: 25px;
        font-weight: 400;
        color: var(--neutral-100);
}
.content-footer-head .item{
    color: var(--neutral-600);
    font-size: 16px;
    line-height: 28px;
    gap: 8px
}

.content-footer-head {
    padding: 0 15px;
}
.content-footer-head .key {
    gap: 8px
}
.content-copy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: nowrap;
}
.content-copy .copy {
    color: var(--neutral-100);
}
.content-copy .brand {
    color: var(--color-primary);
}